@font-face {
    font-family: 'montserrat';
    src: url('../fonts/Montserrat-Regular.ttf');
    font-display: swap;
    font-style: normal;
}

:root{
     --primary-color: #8f0101;    
    --secondary-color: #b81515;
    
    --brackgroud-primary-color: #ffff;
    --brackgound-secondary-color: #f5f5f5;
    --brackground-tertiary-color: #000;
    
  

    --text-primary-color: #222222;
    --text-secondary-color: #ffff;

    --title-weigt: 700;
    --text-weigt: 400;  
    --menu-text-weigt: 500
}


/* CSS RESET */
body, img, h1, p, fieldset, legend, label, input, select, textarea, button {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}